/* Add additional stylesheets below
-------------------------------------------------- */



 .battleGrid {
     border: 1px solid black;
     border-spacing: 0px;
     position:relative;
     margin-bottom:10px;
     left:10%;
 }

 .battleGrid tr {
     border: 1px solid black;
     height: 30px;
 }

 .battleGrid td {
     border: 1px solid black;
     width: 30px;
 }
/* #headertest{
     position:absolute;
     width:10px;
     margin-top:5px;
     top:-0;
     line-height:30px;
     left:10%;
     word-wrap:break-word;
 }*/

 td:hover {
     background-color: gray;
 }

 .placed {
     background-color: gray;
 }

 .occupied {
     background-color: black;
 }

 .hit {
     background-color: orange;
 }

 .sink {
     background-color: red;
 }

 .miss {
     background-color: blue;
 }