/* Add additional stylesheets below
-------------------------------------------------- */

@font-face {
  font-family: 'gunplay';
  src: url('../fonts/gunplay_rg.ttf') format('truetype');
}

body {
    background: url(background_gradient.png);
    background-repeat-y: no-repeat;
    margin: 0px;
}
footer {
    float: bottom;
    background-color: #000;
    color: #fff;
    padding-bottom: 10px;
    padding-top: 20px;
    padding-left: 10px;
    width: 100%;
    position:fixed;
    bottom:0;
}
.battleGrid {
    border: 1px solid black;
    border-spacing: 0px;
    display: inline-block;
    background: url(../images/gridbg.png);
}

.battleGrid tr {
    border: 1px solid black;
    height: 30px;
}

.battleGrid td {
    border: 1px solid black;
    width: 28px;
    height: 28px;
}

td:hover {
    background-color: gray;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}
.peg {
    width: 23px;
    height: 23px;
    border-radius: 23px;
    box-shadow: 0 1px 1px #000 inset;
    margin: 2px;
}
.hidden {
    display: none;
}
.hit {
    background-color: orange;
}

.sink {
    background-color: red;
}

.miss {
    background-color: white;
}

#game-wrapper {
    max-width: 800px;
    margin: 8px auto;
}

/* Additional Custom Game Styling */
#game-title {
    display: inline-block;
    max-width: 200px;
    background: #f0f0f0;
    padding: 8px 16px;
    float: left;
    margin-top: 20%;
    text-align: center;
    font-family: 'gunplay', sans-serif;
    color: #fff;
    background-image: url("title_gradient_h_2.png");
    background-repeat: repeat-y;
    margin-left: 75px;
}

#right-panel {
    position: absolute;
    width: 275px;
    height: 730px;
    padding: 8px;
    margin-left: 650px;
    margin-top: 44px;
    text-align: center;
    color: #0f0;

}

.black-grey-box {
    background: #000;
    border: 4px solid #ccc;
    padding: 4px;
    margin-bottom: 10px;
}

#central-boards-box {
    margin: 8px auto;
    width: 500px;
    text-align: center;
    background: #ccc;
    padding: 4px;
}

.player-name-box {
    display: block;
    margin: 8px auto;
    width: 300px;
    background-image: url("title_gradient_v_2.png");
    background-repeat: repeat-x;
    font-family: 'gunplay', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 8px;
    color: #fff;
}

.top-pane {
    max-width: 342px;
    margin: 4px auto;
}

#text {
    display: none;
}

.top-pane div {
    display: inline-block;
    width: 32px;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 900;
}

.left-pane {
    float: left;
    height: 302px;
    width: 25px;
    position: relative;
    left: 60px;
    top: 7px;
    margin-right: -25px;
}

.ship-container {
    height: 302px;
    width: 0;
    position: relative;
    left: 15px;
    top: 7px;
    float: left;
    overflow: visible;
}

.left-pane div {
    display: block;
    height: 32px;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 900;
    text-align: center;
}

.right-pane {
    float: right;
    height: 302px;
    width: 25px;
    position: relative;
    left: -50px;
    top: 7px;
    margin-right: -25px;
}

.red {
    background-color: #f00;
}

.white {
    background-color: #fff;
}

.ship-button {
    margin: 0px;
    border-width: 0px;
    transition: 0.3s;
}

.ship-placed {
    opacity: 0.5;
}

.Game-over,
.modal {
    display: none;
    position: fixed;
    z-index:1;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color: black;
    background-color: rgb(0,0,0,0.4);
}

.Modal-s{
    background-color: black;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid black;
    width: 750px;
}
.no-bullet-list {
    list-style-type: none;
}
#instructions{
    margin-left:15px;
}
#myBtn {
    background-color:black;
    color:#0f0;
    border: 1px solid #0f0;
    border-radius: 8px;
    width: 200px;
    padding: 8px;
    transition: 0.3s;
}

#myBtn:hover {
    box-shadow: 0 0 15px #0f0 inset;
    cursor: pointer;
}

.modal-content{
    background-color: black;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #0f0;
    width: 750px;
    border: 2px double #0f0;
    border-radius: 8px;
}

#Reload{
    background-color:black;
    color:#0f0;
    border:1px solid #0f0;
    position:absolute;
    margin-top:40px;
    margin-left:41px;
    padding: 8px;
    border-radius: 8px;
    transition: 0.3s;
}

#Reload:hover {
    border-color: #0f0;
    cursor: pointer;
    padding: 10px;
}

#Surrendertext,
#Gameend{
   background-color:black;
   width:750px;
   overflow:auto;
   height:100px;
   margin:auto;
   width:50%;
   position:relative;
   top:250px;
   border: 2px double #0f0;
   border-radius: 8px;
}
#Surrendertext {
    border-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
 }
 #Gameend {
    padding-top: 10px;
    border-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
 }
.close{
    color: #0f0;
    float: right;
    font-size:28px;
    font-weight:bold;
    transition: 0.3s;
}

.close:hover,
.close:focus{
    color: #fff;
    text-decoration:none;
    cursor:pointer;
}

#battleReport{
    max-height: 600px;
    overflow: auto;
}

.animate-this {
    animation: highlight-animation forwards 1.3s;
}

/* Highlighting at the Start of the Game */
@keyframes highlight-animation {
	0% {
		box-shadow: 0 0 0 #0f0;
	}
	50% {
	    box-shadow: 0 0 50px #0f0;
	}
	100% {
	    box-shadow: 0 0 0 0 #0f0;
	}
}

/* alpha-container thing */
.alpha-container {
    margin-left:-15px;
}

.ship-button:hover {
    box-shadow: 0 0 20px #fff !important;
}