/* Add additional stylesheets below
-------------------------------------------------- */

.battleGrid {
    border: 1px solid black;
    border-spacing: 0px;
    display: inline-block;
}

.battleGrid tr {
    border: 1px solid black;
    height: 30px;
}

.battleGrid td {
    border: 1px solid black;
    width: 30px;
}

td:hover {
    background-color: gray;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}

.hit {
    background-color: orange;
}

.sink {
    background-color: red;
}

.miss {
    background-color: blue;
}

#game-wrapper {
    max-width: 800px;
    margin: 8px auto;
}

/* Additional Custom Game Styling */
#game-title {
    display: inline-block;
    max-width: 200px;
    background: #f0f0f0;
    padding: 8px 16px;
    float: left;
    margin-top: 20%;
    text-align: center;
    font-family: "Avenir Next", sans-serif;
    color: #fff;
    background-color: #b00;
    margin-left: 75px;
}

#right-panel {
    position: absolute;
    width: 275px;
    padding: 8px;
    margin-left: 650px;
    margin-top: 42px;
    text-align: center;
    color: #0f0;

}

.black-grey-box {
    background: #000;
    border: 4px solid #ccc;
    padding: 4px;
}

#central-boards-box {
    margin: 8px auto;
    width: 500px;
    text-align: center;
    background: #ccc;
    padding: 4px;
}

.player-name-box {
    display: block;
    margin: 8px auto;
    width: 300px;
    background-color: #b00;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 8px;
    color: #fff;
}

.top-pane {
    max-width: 342px;
    margin: 4px auto;
}

.top-pane div {
    display: inline-block;
    width: 30px;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 900;
}

.left-pane {
    float: left;
    height: 302px;
    width: 25px;
    position: relative;
    left: 50px;
    top: 7px;
    margin-right: -25px;
}

.left-pane div {
    display: block;
    height: 30px;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 900;
    text-align: center;
}

.right-pane {
    float: right;
    height: 302px;
    width: 25px;
    position: relative;
    left: -50px;
    top: 7px;
    margin-right: -25px;
}

.peg {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    box-shadow: 0 1px 1px #000 inset;
    margin: 2px;
}

.red {
    background-color: #f00;
}

.white {
    background-color: #fff;
}
.Game-over,
.modal {
    display: none;
    position: fixed;
    z-index:1;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color: black;
    background-color: rgb(0,0,0,0.4);
}
/*.Game-over{
     display: none;
     position: fixed;
     z-index:1;
     left:0;
     top:0;
     width:100%;
     height:100%;
     overflow:auto;
     background-color: black;
     background-color: rgb(0,0,0,0.4);
}*/
.Modal-s{
    background-color: black;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid black;
    width: 750px;
}*/

#instructions{
    margin-left:15px;
}
#myBtn{
    background-color:black;
    color:#0f0;
}
.modal-content{
    background-color: black;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid black;
    width: 750px;
}

#Surrendertext,
#Gameend{
    background-color:black;
    margin-bottom:-20px;
}

.close{
    color: #aaa;
    float: right;
    font-size:28px;
    font-weight:bold;
}

.close:hover,
.close:focus{
    color:black;
    text-decoration:none;
    cursor:pointer;
}