<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">

<div id="game-wrapper">
    <div id="right-panel">
        <div class="black-grey-box">
            <button id="myBtn">How to play?</button>
        </div>
        <div id="playModal" class="modal">
            <div class ="modal-content">
                <span class="close">&times;</span>
                <h1 id="instructions">Instructions for Battleship</h1>
                <ul>
                    <li>The object of Battleship is to try and sink all of the other player's before they sink all of your ships.</li>
                    <li>All of the other player's ships are somewhere on his/her board.</li>
                    <li>You try and hit them by clicking the coordinates of one of the squares on the board.</li>
                    <li>The other player also tries to hit your ships by calling out coordinates.</li>
                    <li>Neither you nor the other player can see the other's board so you must try to guess where they are.</li>
                    <li>Each board in the physical game has two grids:  the lower (horizontal) section for the player's ships and the upper part (vertical during play) for recording the player's guesses.</li>
                    <li>Press V for turn the ship vertically</li>
                        <ul>
            </div>

        </div>

        <div id="SurrenderModal" class="Game-over">
            <div class=Modal-s">
                <h1 id="Gameend">The Game is Over!</h1>
                <h2 id="Surrendertext">
                    <button id="Reload">Restart Match</button>
                </h2>
            </div>
        </div>
        <div class="black-grey-box" style="height: 678px">
            <h3>Battle Report</h3>
            <div style="text-align:left" id="battleReport">
               Welcome. Please place your ships.
            </div>
        </div>
    </div>
    <h1 id="game-title">
        B<br/>
        A<br/>
        T<br/>
        T<br/>
        L<br/>
        E<br/>
        S<br/>
        H<br/>
        I<br/>
        P
    </h1>
    <div class="player-name-box">OPPONENT</div>
    <div id="central-boards-box">

        <div class="top-pane">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
            <div>7</div>
            <div>8</div>
            <div>9</div>
            <div>10</div>
        </div>
        <div class="left-pane">
            <div>A</div>
            <div>B</div>
            <div>C</div>
            <div>D</div>
            <div>E</div>
            <div>F</div>
            <div>G</div>
            <div>H</div>
            <div>I</div>
            <div>J</div>
        </div>
        <table id="opponent" class="battleGrid">
        </table>
        <div class="right-pane">
            <!--Currently unfilled pane-->
        </div>
        <hr style="border-style: outset; border-width: thick; background-color: dimgray; border-color: darkgray"/>
        <div class="left-pane left-pane-low">
            <ul class="ship-container">
                <li><input type="image" class="ship-button" id="place_minesweeper" src="/assets/images/smallShip.png"/></li>
                <li><input type="image" class="ship-button" id="place_destroyer" src="/assets/images/mediumShip.png"/></li>
                <li><input type="image" class="ship-button" id="place_battleship" src="/assets/images/largeShip.png"/></li>
            </ul>
            <div class="alpha-container">
                <div>A</div>
                <div>B</div>
                <div>C</div>
                <div>D</div>
                <div>E</div>
                <div>F</div>
                <div>G</div>
                <div>H</div>
                <div>I</div>
                <div>J</div>
            </div>
        </div>
        <div class="right-pane">
            <div class="peg red"></div>
            <div class="peg red"></div>
            <div class="peg red"></div>
            <div class="peg red"></div>
            <div class="peg white"></div>
            <div class="peg white"></div>
            <div class="peg white"></div>
            <div class="peg white"></div>
        </div>
        <table id="player" class="battleGrid"></table>
        <div class="top-pane">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
            <div>7</div>
            <div>8</div>
            <div>9</div>
            <div>10</div>
        </div>
    </div>
    <div class="player-name-box">PLAYER</div>
</div>

<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>